<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the addresses_init() hook (in hooks/addresses.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="addresses-kind-<%%VALUE(id)%%>" class="addresses-kind"><%%VALUE(kind)%%></td>
		<td id="addresses-address-<%%VALUE(id)%%>" class="addresses-address"><%%VALUE(address)%%></td>
		<td id="addresses-houseNumber-<%%VALUE(id)%%>" class="addresses-houseNumber"><%%VALUE(houseNumber)%%></td>
		<td id="addresses-country-<%%VALUE(id)%%>" class="addresses-country"><%%VALUE(country)%%></td>
		<td id="addresses-town-<%%VALUE(id)%%>" class="addresses-town"><%%VALUE(town)%%></td>
		<td id="addresses-postalCode-<%%VALUE(id)%%>" class="addresses-postalCode"><%%VALUE(postalCode)%%></td>
		<td id="addresses-district-<%%VALUE(id)%%>" class="addresses-district"><%%VALUE(district)%%></td>
